/**
  * @name SOURCE - MomoTalk (Visual Refresh)
  * @author yumemiya - elatedcard - kyonakansou
  * @version 3.5
  * @description A theme based on the MomoTalk app from the Blue Archive Game!
  * @source https://github.com/MiyakuKage/discord-momotalk
*/





/* Change Colors Here!!!! */
:root {

	--momotalkbanner: #E56072;

	--senseimessagebubble: #4A8AC8;

	--messagebubble: #4C5B6F;

	--embedcolor: #323339;
	--embedborder: #4A4B79;
	
	--text-link: #A3BAFF;

	--sidebar: #505C72;	
	--sidebarborder : #3E4E6B;
	
	--channeltopbar: #505C72;
	
	--messagefontcolor: #FFFFFF;

	--username: #c4c4c4;
	--usernameoutline: #323339;

	--serverlist: #505C72;
	
	--newmessages: #DDE6ED;/* this is the read up to this point thingy*/

	--newtextcolor: #3F444A;
	
	--mention : rgba(255, 147, 183, 0.5); 
	--mentionbar : rgba(255, 147, 183, 0.8); 
	
	--hovericoncolor: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(106%) contrast(105%);

	/* Change Images Here !!!! */
	--bgcharacter: url('https://miyakukage.github.io/discord-momotalk/img/chara/mari.apng'); /*HERE, You can change the character that appears in the background! Change "none.apng" by one of the characters listed in the GitHub README, or by your own image!*/
	
	--bgcharacterposition: bottom 10% left 30%;
	
	--characterfriends: url('https://miyakukage.github.io/discord-momotalk/img/chara/plana.apng'); 

	--bgimage: url('your image url here.png');

	--callimage: url('your image url here.png');



	/*FOR LIGHTMODE*/
	--momotalkbannerLIGHT: #FB90A4;

	--senseimessagebubbleLIGHT: #4A8AC8;

	--messagebubbleLIGHT: #4C5B6F;
	
		--embedcolorLIGHT: #FFFFFF;
			--embedborderLIGHT: #ECECEC;

	--text-linkLIGHT: #A3BAFF;

	--sidebarLIGHT: #F2F7F8;
	
	--sidebarborderLIGHT : #DFE2E1;
	
	--channeltopbarLIGHT: #E7F0F7;

	--messagefontcolorLIGHT: #FFFFFF;

	--usernameLIGHT: #373737;
	--usernameoutlineLIGHT: #FFFFFF;

	--serverlistLIGHT: #505C72;
	
	--newmessagesLIGHT: #DDE6ED;/* this is the read up to this point thingy*/

	--newtextcolorLIGHT: #3F444A;

	--hovericoncolorLIGHT:   ;
	

	/* Change Images Here !!!! */
	--bgcharacterLIGHT: url('https://miyakukage.github.io/discord-momotalk/img/chara/mika.apng'); /*HERE, You can change the character that appears in the background! Change "none.apng" by one of the characters listed in the GitHub README, or by your own image!*/
	
	--bgcharacterpositionLIGHT: bottom 10% left 30%;
	
	--characterfriendsLIGHT: url('https://miyakukage.github.io/discord-momotalk/img/chara/arona.apng'); 
	
	--bgimageLIGHT: url('your image url here.png');

	--callimageLIGHT: url('your image url here.png');
}


/* Arona in friends */

.scroller__7d20c {
	background-image: var(--characterfriends);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
}
.preview__3e443 {
  position: relative;
  display: block;
}

/* Hide everything inside */
.preview__3e443 > * {
  display: none !important;
}

/* Add your replacement image */
.preview__3e443::before {
  content: "";
  display: block;
  width: 100%;   /* set your size */
  height: 100%;
  background: url('https://miyakukage.github.io/discord-momotalk/img/kohawarn.png') no-repeat center center;
  background-size: contain; /* or cover */
}


/* Arona in main chat AND background*/
[class*="chatContent_"] {
	background-image: var(--bgcharacter), var(--bgimage) !important;
	background-size: auto 80%, cover !important;
	background-repeat: no-repeat, no-repeat !important;
	background-position: var(--bgcharacterposition), center center !important;
	background-attachment: fixed, fixed !important;
}


.voiceCallWrapper_a21736 {
	background-image: var(--callimage) !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
}
/* killing wumpus */
.addFriendWumpusWrapper__72ba7 img {
	visibility: hidden;
}
 
.addFriendWumpusWrapper__72ba7::after {
	content: "";
	position: absolute;
	bottom: -300%;	
	left: 90%;
	width: 800%;
	height: 800%;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/tinyarona.png');
	background-size: cover;
	pointer-events: none;
}

/* Colors */

[class*="themedBackground_"]{ /* Typing area */
	background-color: var(--senseimessagebubble);
}
.channelBottomBarArea_f75fb0 svg{
	color: var(--messagefontcolor);
}
.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017{
	color: var(--messagefontcolor);

}
.theme-dark.scrollbarGhostHairline__506b3.scrollbar__506b3.hljs { /* Code Block */
	background-color: rgb(35, 67, 84) !important;
	color: rgb(219, 219, 219) !important
}
.panels_c48ade { /* User Thing */
	background-color: var(--momotalkbanner) !important;
	border: none;
}

.container__37e49 {
	top: 3px
}
.wrapper_ef3116.guilds_c48ade { /* server list */
	background-color: var(--serverlist);
}






/*Home Image*/
.wrapper_cc5dd2:hover .childWrapper__6e9f8,
.childWrapper__6e9f8 {
	background-color: transparent;

}



/*replace with colour if you want a colour behind your image */
#app-mount .tutorialContainer__1f388 .childWrapper__6e9f8 {
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/home.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.childWrapper__6e9f8 svg {
	display: none;
}

.childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
	background-color: transparent !important;
}

.listItemWrapper_dfb2f8.selected_dfb2f8 {
	background-color: #66778B !important;

}

/* Fixing Discord's Mess... again... */
.title_c38106 {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
}

/* Momotalk Icon */
.base_c48ade:has(.privateChannels__35e86) .title_c38106 {

	position: absolute; /* Or fixed if it should stay visible at all times */
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/logo.png');
	background-size: contain;
	background-position: left !important;
	background-repeat: no-repeat;
	background-position: center;
}



.base_c48ade:has(.privateChannels__35e86) .title_bb0d86 {
	display: none;

}

/* Top bar */
.bar_c38106{
	background-color: var(--momotalkbanner);

	/* the little discord icon as well as inbox and help */
	path{
		fill: var(--messagefontcolor);
	}

	/* direct message text */
	.lineClamp1__4bd52{
		color: var(--messagefontcolor);
	}

	/* the aria labels explain themselves */
	[aria-label="Minimize"] rect{
		fill: var(--messagefontcolor);
	}

	[aria-label="Maximize"] rect{
		stroke: var(--messagefontcolor);
	}

	[aria-label="Close"] polygon{
		fill: var(--messagefontcolor);
	}
}

/* Message font */
.markup__75297 {
	color: var(--messagefontcolor);
}

/* Usernames */
.username_c19a55 {
	color: var(--username);
	font-weight: bold !important;
	margin-left: 8px;
	text-shadow: 1px 2px 2px var(--usernameoutline), -1px -2px 2px var(--usernameoutline);
}


/* DM List */
.membersWrap_c8ffbb {
	background-color: var(--dmlist) !important;
	scrollbar-color: transparent transparent;
	border-right: solid;
	border-color: #DDDDDD;
	
	.selected_bf202d {
		background-color: #DBE4EB !important;
	}

	.username__703b9 {
		font-weight: bold;
		color: var(--username)
	}
	.activityText__972a0 {
		color: #62676B
	}

}

/* Common Message Container*/
.message__5126c {
	--momo-messages-border-radius: 10px;

	display: flex;
	flex-direction: column;

	/* Message reply arrow*/
	&.groupStart__5126c>.contents_c19a55::after,
	&.isSystemMessage_c19a55>.contents_c19a55::after {
		content: "\25BA";
		position: absolute;
		color: var(--messagebubble);
		border-radius: 5px;
		font-size: 15px;
	}

	&.groupStart__5126c>.contents_c19a55::after {
		top: 30px;
	}

	&.groupStart__5126c.hasReply_c19a55>.contents_c19a55::after {
		top: 53px;
	}

	&.isSystemMessage_c19a55>.contents_c19a55::after {
		top: 9px;
	}

	>.contents_c19a55 {
		display: flex;
		align-items: inherit;
		flex-direction: column;
		z-index: 1;
		width: 100%;
		max-width: 600px;

		.markup__75297 {
			padding: 5px 15px;
			max-width: 100%;
			border-radius: var(--momo-messages-border-radius);
			background-color: var(--messagebubble);
			overflow: visible;
		}
	}

&:has(>.contents_c19a55>.markup__75297:empty)>.container_b7e1cb {
	top: initial;
}

/* Hide reply arrow if message has no text but has a container (embed) */
&:has(>.contents_c19a55>.markup__75297:empty)>.contents_c19a55::after {
    display: none;
}
.channelTextArea__5126c.channelTextArea__74017{
	margin-top: -5px;
}



	.container_b7e1cb {
		background-color: var(--embedcolor) !important;
		margin-top: 5px;
		border: 2px solid var(--embedborder);

		border-radius: var(--momo-messages-border-radius);
		width: fit-content;
		top: 0px;
		padding: 20px;

		&:has(:first-child.reactions__23977) {
			top: initial;
			padding: 0;
			background-color: transparent;
			


			.reaction__23977.reactionMe__23977 .reactionCount__23977 {
				color: var(--brand-560);
			}
		}

		&:has(article.embedWrapper_b7e1cb .embedProvider__623de>a[href*="youtube"]) {
			width: 97%;
			max-width: 432px;
		}
		
		
	}
	
}

/* Other Message Container */
[data-is-self="false"] .message__5126c {
	align-items: start;

	>.contents_c19a55 {
		.markup__75297 {
			margin-left: 13px;
		}

		&::after {
			left: 75px;
			transform: rotate(180deg);
		}
	}

	.container_b7e1cb {
		margin-left: 13px;
	}


}

/* Self Message Container */
[data-is-self="true"] .message__5126c {
	--messagebubble: var(--senseimessagebubble);
	align-items: end;

	/* Flip discord paddings */
	padding-left: 48px;
	padding-right: var(--custom-message-margin-horizontal) !important;

	&.cozy_c19a55 {
		padding-right: var(--custom-message-margin-left-content-cozy) !important;
	}

	>.contents_c19a55 {
		margin-right: 9px;

		img.avatar_c19a55 {
			left: initial;
			right: var(--custom-message-margin-horizontal);
		}

		&::after {
			right: 71px;
		}
	}

	.container_b7e1cb {
		margin-right: 9px;

	}

	.timestamp_c19a55 {
		left: initial;
		right: 0;
	}

	/* Switch end buttons appears to avoid covering text */
	.buttonContainer_c19a55 {
		right: initial;
		left: 0px;

		>div {
			right: initial;
		}
	}

	 
	/* New hacky way of fixing the reply "glyph" */
	.repliedMessageClickableSpine_c19a55 {
		
		right: calc(-1*(.625 * var(--chat-avatar-size) + var(--gutter)));
		left: 100%;
		border-width: var(--spine-width) var(--spine-width) 0 0;
		border-top-left-radius: 0px;
		border-top-right-radius: 6px;
	}
	
}

/* Move Profile Pic */
[data-is-self="true"] .avatar_c19a55{
    left: unset;
    right: 10px !important;
}

/* Move Self Decoration */
[data-is-self="true"] .avatarDecoration_c19a55{
    left: unset;
    right: 4px;
}
/* Move Decoration */
.avatarDecoration_c19a55{
	right: unset;
    left: 11px;
	bottom: unset;
}
/* Decoration size */
.avatarDecoration_c19a55 {
  height: 59px;
  width: 59px;
}

/* Cancel inside .searchResultsWrap_a9e706 */
.searchResultsWrap_a9e706 .avatarDecoration_c19a55 {
  height: 50px;
  width: 50px;
}

/* Workaround for avatar size*/

.avatar_c19a55 {
    height: 50px;
    width: 50px;
}

.searchResultsWrap_a9e706 .avatar_c19a55,
.searchHeader_f3b986 .avatar_c19a55,
.scroller_a9e706.thin_d125d2.scrollerBase_d125d2 .avatar_c19a55,
.container__02a39 .avatar_c19a55,
.searchResult__02a39 .avatar_c19a55 {
    width: var(--chat-avatar-size);
    height: var(--chat-avatar-size);

}


/* NEW messages */
.newMessagesBar__0f481.barBase__0f481 {
background-color: var(--momotalkbanner) !important;
}

.divider__5126c.hasContent__5126c.divider__908e2.isUnread__908e2.hasContent__908e2 .content__908e2{
	margin-bottom: 18px !important;
	background-color: transparent;
}

.group-spacing-16.divider__5126c.beforeGroup__5126c,
.divider__5126c.divider__908e2.isUnread__908e2 {
   border-width: 20px;
   border-radius: 7px;
   border-color: var(--newmessages);

}

.group-spacing-16 .divider__5126c.beforeGroup__5126c::before,
.divider__5126c.divider__908e2.isUnread__908e2::before{
  content: "Read up to this point."; 
  color: var(--newtextcolor);
  position: relative;
  top: -10px;
  left: 0;
  
}

.unreadPill__908e2.endCap__908e2 {
	display: none;
}

/* bye bye to the little hole by the server list*/
.sidebar_c48ade {
	border-radius: 0 !important;
}

/* The profile banner */
/* solved by literally stretching the div to fit */
.panels_c48ade {
	border-radius: 0 !important;
	left: 0% !important;
	width: 100% !important;

}

.container__4bbc6.fitInAccount__4bbc6 {
	height: 120%;
	top: -5% !important;

}


/* a very thin strip of color at the bottom */
.visual-refresh .sidebar_c48ade:after {
	background-color: var(--momotalkbanner);
	right: 0;

}


/* BIG TEXT */
.markup__75297 h3 {
	color: var(--messagefontcolor);
}


/* small text */
.markup__75297 small:not(.inlineFormat__75297) {
	color: var(--messagefontcolor);
}


/*more on messag */
.hoverBarButton_f84418.button_f7ecac
.icon_f84418 :not(.emoji.emoji__040f0) {
	filter: var(--hovericoncolor)
}

/*sidebar little gap fix*/
.sidebarList_c48ade {
    background-color: var(--sidebar);
}

/*fixing small gaps on top left of server banner*/
.layers__960e4 {
    background-color: #505c72;
}	

/*fixing code markup background blending with text bubble*/
/*.markup__75297.messageContent_c19a55 
.inline {
	background-color: var(--senseimessagebubble) ;
	
} */

/* Channel List, heritaged from previous version */
.container__2637a {
	background-color: var(--sidebar) ;
}
.containerDefault_c69b6d.selected_c69b6d.link__2ea32 {
	background-color: #68798D ;
}

/* member list, heritaged from previous version*/
	.container_c8ffbb {
	background-color: var(--sidebar);
}
	.members_c8ffbb {
	background-color: var(--sidebar);

		.membersGroup_c8ffbb {
			font-weight: bold;
		}

		.member_c8ffbb {
			background-color: var(--sidebar);
		}
		
		.name__91a9d {
		font-weight: bold;
		}
	}
	.searchBar__35e86 {
		background-color: var(--sidebar) !important;
}

/* DM list*/
.scroller__99e7c.thin_d125d2.scrollerBase_d125d2.fade_d125d2{
	background-color: var(--sidebar);
}
 
.sidebarList_c48ade,
.sidebarListRounded_c48ade {
	border-right: 2px solid var(--sidebarborder); 
}


.title_f75fb0.container__9293f.themed__9293f {
	background-color: var(--channeltopbar);
}


/*search bar*/
.defaultColor__4bd52.searchFilter_bd8186 {
	background-color: #3e4757;
}

.layer_da8173
.container__55c99 {
	background-color: var(--sidebar);
}


/*quick switcher*/
.container_ac6cb0
.quickswitcher_ac6cb0 {
	background-color: var(--sidebar);
}

.scroller_ac6cb0.auto__99f8c {
	background-color: var(--sidebar);
}


/*search result*/
.searchResultsWrap_a9e706
.searchHeader_f3b986 {
	background-color: var(--sidebar);
}

.scroller_a9e706.thin_d125d2.scrollerBase_d125d2 {
	background-color: var(--sidebar);
}


.container__02a39
.searchResult__02a39 {
	background-color: #373f4e;
}


/*Activity Tab above your profile*/
.panel__5dec7.activityPanel_c48ade {
	background-color: var(--momotalkbanner) !important;
}

.theme-dark .children__9293f:after {
    background: transparent;
}
.theme-light .children__9293f:after {
    background: transparent;
}
/*add and discover server button*/
.circleIconButton__5bc7e {
	background-color: var(--serverlist);
}

#add_friend-tab.peopleColumn__133bf {
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/miyu.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400px
}

.panels_c48ade {
border-color: transparent !important;
}

/* mentions/reply Color*/
[class*="mentioned_"]{
	  background-color: var(--mention) !important;
}
[class*="mentioned_"]::before {
	  background-color: var(--mentionbar) !important;
}


/* Links colors */
.messageContent_c19a55 .anchor_edefb8.anchorUnderlineOnHover_edefb8{
	color: var(--text-link);
}


/* funky loading screen */
.container_a2f514.fixClipping_efbae7::after{

	position: absolute;
	content: "";
	display: inline-block;
	width: 200px;
	height: 2000px;
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/logobig.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.container_a2f514{
	background-color: var(--momotalkbanner) !important;
}

.spinner_a2f514.ready_a2f514{
	display: none;
}

.text_a2f514 {
	margin-top: 300px;
}


/*userbar funny triangles*/
.peopleList__5ec2f .peopleListItem_cc6179,
.content__99f8c .peopleListItem_cc6179 {
	background-image: url('https://raw.githubusercontent.com/MiyakuKage/discord-momotalk/refs/heads/testing-features-and-assets/img/img-dev/profile-bg2-inverted.png') !important;
	background-position: right !important;
	background-repeat: no-repeat !important;
	background-size: 50% !important;
}


.actions_fc004c {
	margin-right: 1% !important;
}

/* ---------------- LIGHT MODE ---------------- */
.theme-light.images-light {

	.messageGroupWrapper__45690{ /* FIX FOR PINS */
	background-color:  var(--messagebubbleLIGHT) !important;
	}

/* Arona in friends */

.scroller__7d20c {
	background-image: var(--characterfriendsLIGHT);	
}

	.container_b7e1cb {
		background-color: var(--embedcolorLIGHT) !important;
				border: 2px solid var(--embedborderLIGHT);
	}

/* Arona in main chat AND background*/
[class*="chatContent_"] {
	background-image: var(--bgcharacterLIGHT), var(--bgimageLIGHT) !important;
	background-size: auto 80%, cover !important;
	background-repeat: no-repeat, no-repeat !important;
	background-position: var(--bgcharacterpositionLIGHT), center center !important;
	background-attachment: fixed, fixed !important;
}

.voiceCallWrapper_a21736 {
	background-image: var(--callimageLIGHT) !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
}

/* Colors */
.themedBackground__74017{ /* Typing area */
	background-color: var(--senseimessagebubbleLIGHT);
}
.channelBottomBarArea_f75fb0 svg{
	color: var(--messagefontcolorLIGHT);
}
.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017{
	color: white;

}
.panels_c48ade { /* User Thing */
	background-color: var(--momotalkbannerLIGHT) !important;
}

.wrapper_ef3116.guilds_c48ade { /* server list */
	background-color: var(--serverlistLIGHT);
}


/* Top bar */
.bar_c38106{
	background-color: var(--momotalkbannerLIGHT);

	/* the little discord icon as well as inbox and help */
	path{
		fill: var(--messagefontcolorLIGHT);
	}

	/* direct message text */
	.lineClamp1__4bd52{
		color: var(--messagefontcolorLIGHT);
	}

	/* the aria labels explain themselves */
	[aria-label="Minimize"] rect{
		fill: var(--messagefontcolorLIGHT);
	}

	[aria-label="Maximize"] rect{
		stroke: var(--messagefontcolorLIGHT);
	}

	[aria-label="Close"] polygon{
		fill: var(--messagefontcolorLIGHT);
	}
}

/* Message font */
.markup__75297 {
	color: var(--messagefontcolorLIGHT);
}

/* Usernames */
.username_c19a55 {
	color: var(--usernameLIGHT);
	text-shadow: 1px 2px 2px var(--usernameoutlineLIGHT), -1px -2px 2px var(--usernameoutlineLIGHT);
}


/* NEW messages */
.newMessagesBar__0f481.barBase__0f481 {
background-color: var(--momotalkbannerLIGHT) !important;
}

.group-spacing-16.divider__5126c.beforeGroup__5126c,
.divider__5126c.divider__908e2.isUnread__908e2 {
   border-color: var(--newmessagesLIGHT);

}

/* a very thin strip of color at the bottom */
.sidebar_c48ade:after {
	background-color: var(--momotalkbannerLIGHT);

}

.scrollbarGhostHairline__506b3.scrollbar__506b3.hljs { /* Code Block */
	background-color: #6A6A84 !important;
	color: white !important;
}

.textContainer__4d95d.hljs {
	color: white !important;
}

/* BIG TEXT */
.markup__75297 h3 {
	color: var(--messagefontcolorLIGHT);
}

.markup__75297 h2 {
	color: var(--messagefontcolorLIGHT);
}
.markup__75297 h1 {
	color: var(--messagefontcolorLIGHT);
}

/* small text */
.markup__75297 small:not(.inlineFormat__75297) {
	color: var(--messagefontcolorLIGHT);
}



/* file popup icons */
.wrapper_f7ecac {
	path {
		fill: var(--newtextcolorLIGHT);
	}
}

/*more on messag */
.hoverBarButton_f84418.button_f7ecac
.icon_f84418 :not(.emoji.emoji__040f0) {
	filter: var(--hovericoncolorLIGHT)
}

/*sidebar little gap fix*/
.sidebarList_c48ade {
    background-color: var(--sidebarLIGHT);
}

.container__2637a {
	background-color: var(--sidebarLIGHT) ;
}

	.container_c8ffbb {
	background-color: var(--sidebarLIGHT);
}
	.members_c8ffbb {
	background-color: var(--sidebarLIGHT);

		.member_c8ffbb {
			background-color: var(--sidebarLIGHT);
		}
	}
	.searchBar__35e86 {
		background-color: var(--sidebarLIGHT) !important;
}

/* DM list*/
.scroller__99e7c.thin_d125d2.scrollerBase_d125d2.fade_d125d2 {
	background-color: var(--sidebarLIGHT);
	border: 5px;
}


.sidebarList_c48ade,
.sidebarListRounded_c48ade {
	border-right: 2px solid var(--sidebarborderLIGHT); 
}

.title_f75fb0.container__9293f.themed__9293f {
	background-color: var(--channeltopbarLIGHT);
}


.layer_da8173
.container__55c99 {
	background-color: var(--sidebarLIGHT);
}


/*quick switcher*/
.container_ac6cb0
.quickswitcher_ac6cb0 {
	background-color: var(--sidebarLIGHT);
}

.scroller_ac6cb0.auto__99f8c {
	background-color: var(--sidebarLIGHT);
}

/*search result*/
.searchResultsWrap_a9e706
.searchHeader_f3b986 {
	background-color: var(--sidebarLIGHT);
}

.scroller_a9e706.thin_d125d2.scrollerBase_d125d2 {
	background-color: var(--sidebarLIGHT);
}

.message__5126c
.repliedTextPreview_c19a55
.repliedTextContent_c19a55 {
    color: gray;
}


/*Activity Tab above your profile*/
.panel__5dec7.activityPanel_c48ade {
	background-color: var(--momotalkbannerLIGHT) !important;
}

/*add and discover server button*/
.circleIconButton__5bc7e {
	background-color: var(--serverlistLIGHT);
}

#add_friend-tab.peopleColumn__133bf {
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/miyu.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400px
}

	
/*code file preview*/
.mosaicItem__6c706
.textContainer__4d95d
.scrollbarGhostHairline__506b3 {
	background-color: #8aabd2 !important;
}

/*little buttons on server selection*/
.item__58105 {
	background-color: #FFFFFF;
}

/* Links colors */
.messageContent_c19a55 .anchor_edefb8.anchorUnderlineOnHover_edefb8{
	color: var(--text-linkLIGHT);
}

/* funky loading screen */
.container_a2f514{
	background-color: var(--momotalkbannerLIGHT) !important;
}





} /* LIGHTMODE END */
