/* Change Colors Here!!!! */
:root {
	--background-primary: #FFFFFF;

	--momotalkbanner: #FB90A4;

	--senseimessagebubble: #4A8AC8;
	--messagebubble: #4C5B6F;

	--text-link: #CCD3FF;

	--messagefontcolor: #FFFFFF;

	--username: #3F444A;

	--sidebar: #505C72;

	--topbar: #E7F0F7;

	--searchbars: #303C51;

	--callcolor: #505C72;

	--callbuttons: #303C51;
	--hangup: #FB90A4;

	--dmlist: #F2F7FB;

	--settingsfontcolor: #000000;
	
/* Change Images Here !!!! */
	
	--character: url('https://miyakukage.github.io/discord-momotalk/img/chara/none.apng'); /* Change "none.apng" by a character name*/
	/* Current character list: "arona", "mari" */ 

	--characterfriends: url('https://miyakukage.github.io/discord-momotalk/img/chara/arona.apng'); /* Same here but for the friend list*/
	
	--bgimage: url('your image url here.png');

	--callimage: url('your image url here.png');
}




/*Home Image*/
.wrapper_cc5dd2:hover .childWrapper__6e9f8,
.childWrapper__6e9f8 {
	background-color: transparent;

}



/*replace with colour if you want a colour behind your image */
#app-mount .tutorialContainer__1f388 .childWrapper__6e9f8 {
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/home.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.childWrapper__6e9f8 svg {
	display: none;
}

.childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
	background-color: transparent !important;
}

.listItemWrapper_dfb2f8.selected_dfb2f8 {
	background-color: #66778B !important;

}

/* That annoying hole next to server names */
[class^=sidebar_] {
	border-radius: 0 !important;
}

/* and that weird gradient in the top bar */
.theme-dark .children__9293f:after {
	background: transparent;
}

/* Now Typing */
.typing_b88801 {
	color: var(--username);
}

/* Custom Background Image */
.chatContent_f75fb0 {
	background-image: var(--bgimage);
	background-size: cover;
}

/* Arona in main chat*/
.chatContent_f75fb0 {
	background-image: var(--character);
	background-size: 23%;
	background-repeat: no-repeat;
	background-position: 10% 120%; 
}

/* Message font */
.markup__75297 {
	color: var(--messagefontcolor);
}

/* Usernames */
.username_c19a55 {
	color: var(--username);
	font-weight: bold;
	margin-left: 8px;
}

/* Avatar size */
.avatar_c19a55 {
	height: 55px;
	width: 55px;
}

/* Move Profile Pic */
[data-is-self="true"] .avatar_c19a55{
    left: unset;
    right: 10px !important;
}

/* Move Self Decoration */
[data-is-self="true"] .avatarDecoration_c19a55{
    left: unset;
    right: 4px;
}
/* Move Decoration */
.avatarDecoration_c19a55{
	right: unset;
    left: 11px;
	bottom: unset;
}
/* Decoration size */
.avatarDecoration_c19a55 {
	height: 64px;
	width: 64px;
}

/* Title Bar */
.titleBar__421ed {
	background-color: var(--momotalkbanner);
	height: 37px;
	margin-top: 1px;
}

.winButton__421ed {
	color: white;
	height: 27px;
	width: 30px;
	right: 10px;
	top: 2px;
	margin-left: 31px;
	transform: scale(1.5);
}


/* Invites */
.wrapper_d5f3cd {
		background-color: var(--momotalkbanner);
} 
.guildName_d5f3cd{
			color: var(--messagefontcolor) !important;
}
.channelIcon_d5f3cd {
				color: var(--messagefontcolor) !important;

}
.h5_b717a1.eyebrow.header_d5f3cd  {
				color: var(--messagefontcolor) !important;

}

/* Watermark*/
.wordmark__421ed svg {
	display: none;
}

/* Display */
.footer__214dc {
	display: none !important;
}
.wordmark__421ed::after {
	top: -59px;
	left: 1px;
	position: relative;
	content: "";
	display: inline-block;
	width: 150px;
	height: 150px;
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*Links Color*/

/* Friends Tab */
.theme-dark.images-dark.container__9293f.themed__9293f {
	background-color: var(--topbar);
}

.username__0a06e {
	color: #3A4446 !important;
}

.scroller__7d20c {
	background-image: var(--characterfriends);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 25% 240%;

	
}

.itemCard__7e549 {
	background-color: var(--topbar);
}

/* Scrollbar */
.scroller__36d07 {
	&::-webkit-scrollbar {
		width: 15px;
	}

	&::-webkit-scrollbar-track {
		background-color: #E1E4E6;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #B0B0B0;
		border-radius: 8px;
	}
}

/* Channel bar */
.title_f75fb0.container__9293f.themed__9293f {
	background-color: var(--topbar) !important;

}

/* New Messages */
.divider__5126c  {
	background-color: var(--momotalkbanner) !important;

}



.icon__2ea32 {
	color: #4ABDD8 !important; 
}

.title__9293f {
	color: black;
}

.name_f37cb1 {
	color: var(--messagefontcolor) !important;
}

.icon__9293f {
	color: #4ABDD8;
}

/* Server list */
.scroller_ef3116 {
	background-color: var(--sidebar) !important;
}

.guildSeparator__252b6 {
	background-color: #4ABDD8;
	width: 50px;
}

/* Calls */
.root_bfe55a {
	background-color: var(--callcolor) !important;
	background-image: var(--callimage) !important;
	background-size: cover;
	background-position: top;
}

.red_f1ceac {
	background-color: var(--hangup) !important;

	:hover {
		filter: brightness(0.8);
	}
}

.primaryDark_f1ceac {
	background-color: var(--callbuttons) !important;
}

/* Voice Chat */
.container_e131a9 {
	background-color: var(--callcolor) !important;
}

.buttonColor_e131a9 {
	background-color: #303C51 !important;
}

/* Screenshare */
.modalSize_e1cc86 {
	background-color: var(--callcolor) !important;
}

/* Emoji/Sticker/GifTab */
.contentWrapper__08434 {
	background-color: var(--callcolor) !important;
}

.wrapper__14245.header_c656ac {
	background-color: var(--topbar) !important;
}

.inspector_aeaaeb.inspector_c0e32c {
	background-color: var(--topbar) !important;
}

.inner_fea832.thin_d125d2.scrollerBase_d125d2 {
	background-color: var(--searchbars) !important;
}

.scroller_affa7e.none_d125d2.scrollerBase_d125d2 {
	background-color: var(--searchbars) !important;
}

.unicodeShortcut_b9ee0c {
	background-color: var(--searchbars) !important;
}

.categoryItemDefaultCategory_b9ee0c {
	background-color: var(--searchbars) !important;
}

.stickerCategory__3ad28 {
	background-color: var(--searchbars) !important;
}

.wrapper__14245.packHeader_e94b8c {
	background-color: var(--topbar) !important;
}

.standardStickerShortcut__3ad28 {
	background-color: var(--topbar) !important;
}

.inspector_aeaaeb {
	background-color: var(--topbar) !important;
}

.inner_a45028 {
	background-color: var(--searchbars) !important;
}

.header_fed6d3 {
	background-color: var(--callcolor) !important;
}

.content_fed6d3 {
	background-color: var(--callcolor) !important;
}

/* Channel List */
.container__2637a {
	background-color: var(--sidebar) !important;
}

.containerDefault_c69b6d.selected_c69b6d .link__2ea32 {
	background-color: #68798D !important;
}

/* DM List */
.scroller__99e7c {
	background-color: var(--dmlist) !important;
	scrollbar-color: transparent transparent;
	border-right: solid;
	border-color: #DDDDDD;

.selected_bf202d {
background-color: #DBE4EB !important;
}

	.name__20a53 {
		font-weight: bold;
		color: var(--username)
	}
	.activityText__972a0 {
		color: #62676B
	}

}


/* Members List*/
.container_c8ffbb {
	background-color: var(--sidebar);
}

.members_c8ffbb {
	background-color: inherit;

	.membersGroup_c8ffbb {
		font-weight: bold;
	}

	.member_c8ffbb {
		background-color: var(--sidebar);
	}

	.name__91a9d {
		font-weight: bold;
	}
}

.searchBar__35e86 {
	background-color: var(--sidebar) !important;
}


/* Account container */
.container__37e49 {
	background-color: var(--momotalkbanner) !important;
}

.contents__201d5 {
	color: white;
}

/* Message Bar */
.scrollableContainer__74017 {
	background-color: var(--senseimessagebubble);
}

.slateTextArea_ec4baf {
	color: white;
}

.activeButtonChild_aa63ab {
	color: #EFB7D0;
}

/* Search Bars */
.searchBarComponent__35e86 {
	background-color: var(--searchbars) !important;
}

.searchBar__97492 {
	background-color: var(--searchbars) !important;
}

.searchBar__5ec2f {
	background-color: var(--searchbars) !important;
}

/* Settings Menu (there is totally a better way of doing this) */
.h1_b717a1 {
	color: var(--settingsfontcolor);
}

.tabBarItem_d6f9e9.item_b3f026.brand_b3f026.selected_b3f026 {
	color: var(--settingsfontcolor);
}

.vc-settings-tab-bar-item.item_b3f026.brand_b3f026.selected_b3f026 {
	color: var(--settingsfontcolor);
}

.vc-settings-card {
	color: var(--settingsfontcolor);
}

.formText_ddd181 {
	color: white !important;
}

.gameName_cc46f0 {
	color: var(--settingsfontcolor);
}

.formText_ddd181 {
	color: var(--settingsfontcolor) !important;
}

.tab_f8303a.item_b3f026.brand_b3f026.selected_b3f026 {
	color: var(--settingsfontcolor);
}

.settingsTabBarItem_dc2e0e.item_b3f026.brand_b3f026.selected_b3f026 {
	color: var(--settingsfontcolor);
}

.title__0d850 {
	color: var(--settingsfontcolor);
}

/*Settings sidebar*/
.sidebarRegionScroller__23e6b {
	background-color: var(--sidebar);
}

/*Your personal Account information*/
.background__1fed1 {
	background-color: var(--sidebar);
}

.fieldList__1fed1 {
	background-color: var(--sidebar);
}

.accountProfileCard__1fed1 {
	background-color: var(--searchbars);
}

.button__201d5.lookOutlined__201d5.colorRed__201d5.sizeSmall__201d5.grow__201d5 {
	/* Your styles here */
	background-color: #FB94A7;
}

.description_ddd181 {
	color: gray;
}

/* Other standard color?? scary if you don't know what the second thing in your project really does*/
.colorStandard_c9946a {
	color: var(--username);
}

/*Other colors?*/
.defaultColor__4bd52 {
	color: var(--username);
}

.card__73069 {
	background-color: var(--topbar) !important;
}

.vc-addon-card {
	background-color: var(--topbar) !important;
}

/* Common Message Container*/
.message__5126c {
	--momo-messages-border-radius: 10px;

	display: flex;
	flex-direction: column;

	/* Message reply arrow*/
	&.groupStart__5126c>.contents_c19a55::after,
	&.isSystemMessage_c19a55>.contents_c19a55::after {
		content: "\25BA";
		position: absolute;
		color: var(--messagebubble);
		border-radius: 5px;
		font-size: 15px;
	}

	&.groupStart__5126c>.contents_c19a55::after {
		top: 30px;
	}

	&.groupStart__5126c.hasReply_c19a55>.contents_c19a55::after {
		top: 53px;
	}

	&.isSystemMessage_c19a55>.contents_c19a55::after {
		top: 9px;
	}

	>.contents_c19a55 {
		display: flex;
		align-items: inherit;
		flex-direction: column;
		z-index: 1;
		width: 100%;
		max-width: 600px;

		.markup__75297 {
			padding: 5px 15px;
			max-width: 100%;
			border-radius: var(--momo-messages-border-radius);
			background-color: var(--messagebubble);
			overflow: visible;
		}
	}

	&:has(>.contents_c19a55>.markup__75297:empty)>.container_b7e1cb {
		top: initial;
	}

	.container_b7e1cb {
		background-color: var(--messagebubble);
		border-radius: var(--momo-messages-border-radius);
		width: fit-content;
		top: -9px;
		padding: 20px;

		&:has(:first-child.reactions__23977) {
			top: initial;
			padding: 0;
			background-color: transparent;

			.reaction__23977.reactionMe__23977 .reactionCount__23977 {
				color: var(--brand-560);
			}
		}

		&:has(article.embedWrapper_b7e1cb .embedProvider__623de>a[href*="youtube"]) {
			width: 97%;
			max-width: 432px;
		}
	}
	
}

/* Other Message Container */
[data-is-self="false"] .message__5126c {
	align-items: start;

	>.contents_c19a55 {
		.markup__75297 {
			margin-left: 13px;
		}

		&::after {
			left: 75px;
			transform: rotate(180deg);
		}
	}

	.container_b7e1cb {
		margin-left: 13px;
	}

	/* Border handling for messages with content attached */
	&:has(.container_b7e1cb>:not(.reactions__23977)) .contents_c19a55>.markup__75297 {
		border-bottom-left-radius: 0;
	}
}

/* Self Message Container */
[data-is-self="true"] .message__5126c {
	--messagebubble: var(--senseimessagebubble);
	align-items: end;

	/* Flip discord paddings */
	padding-left: 48px;
	padding-right: var(--custom-message-margin-horizontal) !important;

	&.cozy_c19a55 {
		padding-right: var(--custom-message-margin-left-content-cozy) !important;
	}

	>.contents_c19a55 {
		margin-right: 9px;

		img.avatar_c19a55 {
			left: initial;
			right: var(--custom-message-margin-horizontal);
		}

		&::after {
			right: 71px;
		}
	}

	.container_b7e1cb {
		margin-right: 9px;

	}

	.timestamp_c19a55 {
		left: initial;
		right: 0;
	}

	/* Switch end buttons appears to avoid covering text */
	.buttonContainer_c19a55 {
		right: initial;
		left: 0px;

		>div {
			right: initial;
		}
	}

	/* Border handling for messages with content attached */
	&:has(.container_b7e1cb>:not(.reactions__23977)) .contents_c19a55>.markup__75297 {
		border-bottom-right-radius: 0;
	}

	/* Very hacky way of fixing the reply "glyph" */
	/* YOU SERVED US PROUD BUT ALAS YOU MUST RETIRE REST EASY o7*/
	/* .repliedMessage_c19a55 {
		&::before {
			display: none;
		}

		&::after {
			--spine-width: 2px;
			content: "";
			display: block;
			position: absolute;
			box-sizing: border-box;
			top: 45%;
			right: -36px;
			width: 33px;
			height: 12px;
			bottom: 0;
			border-color: var(--interactive-muted);
			border-width: var(--spine-width) 0 0 var(--spine-width);
			border-style: solid;
			border-top-left-radius: 6px;
			transform: scaleX(-100%);
		}
	} */
	 
	/* New hacky way of fixing the reply "glyph" */
	.repliedMessageClickableSpine_c19a55 {
		right: calc(-1*(.6* var(--avatar-size) + var(--gutter)));
		left: 101%;
		border-width: var(--spine-width) var(--spine-width) 0 0;
		border-top-left-radius: 0px;
		border-top-right-radius: 6px;
	}
	
}

/* Search results */

.public-DraftStyleDefault-block, .public-DraftStyleDefault-ltr{

	.defaultColor__4bd52{
		color: var(--background-primary);
	}
}

.searchHeader_f3b986 {
	background-color: var(--momotalkbanner);

	.item_b3f026 {
		color: var(--messagefontcolor);
	}
}

.searchResultsWrap_a9e706 {
	background-color: var(--background-primary);
}

.channelNameIcon_c68065, .channelNameText_c68065 {
	color: var(--username);
}

.searchResult__02a39 {
	background-color: var(--messagebubble) !important;
		
}

.pageControlContainer_c15210{
	background-color: var(--momotalkbanner);
}

.errorMessage_a9e706 {
	color: var(--username);
}

/* App and Commands at the bottom right */
.button_e6e74f {
	background-color: var(--senseimessagebubble);
}

/*Vencord Spotify Display*/
#vc-spotify-player {
	background: var(--momotalkbanner) !important;

	.vc-spotify-artist {
		color: var(--settingsfontcolor);
	}

	#vc-spotify-album-title {
		color: var(--settingsfontcolor);
	}
}

/*follow channel update popup?*/
.wrapper__44df5 {
	background-color: var(--senseimessagebubble);
}

/* New Forward Thing */
.modal__62280.root__49fc1.small__49fc1.fullscreenOnMobile__49fc1.rootWithShadow__49fc1 {
	background-color:  var(--sidebar);
}
.forwardPreviewWrapper__62280 {
	background-color:  var(--sidebar);	
} 

.flex__7c0ba.horizontalReverse__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706.footer__49fc1.footerWithMessage__62280.footerSeparator__49fc1 {
	background-color:  var(--sidebar);	
} 
.lineClamp1__4bd52.label__62280 {
	color: var(--messagefontcolor) !important;
}



.sendWithMessage__62280.button__201d5.lookFilled__201d5.colorBrand__201d5.sizeMedium__201d5.grow__201d5 {
	color: var(--momotalkbanner) !important;
		background-color: var(--momotalkbanner) !important;
}

.checkbox_f525d3.box_f525d3.checked_f525d3 {
	color: var(--momotalkbanner) !important;
		background-color: var(--momotalkbanner) !important;
}

/*Leave Server Popup*/
.root__49fc1 {
	background-color: var(--background-primary);
	.footer__49fc1 {
		background-color: var(--sidebar);
	}
}




/* Color Fixes */
.scrollableContainer__74017 {
	background-color: var(--senseimessagebubble);
}

/* User Profile thing that no one uses */
.outer_c0bea0.theme-dark.images-dark.panel_c0bea0 {
		background-color: var(--senseimessagebubble);
		color: white !important;
}
.outer_c0bea0.theme-dark.images-dark.panel_c0bea0 div{
		color: var(--fontcolor);
}

/* friend list buttons */
.actionButton_f8fa06 {
			background-color: var(--senseimessagebubble);
			color: white;	
}

.itemCard__7e549:hover{
	background-color: var(--sidebar) !important;
}
.itemCard__7e549.active_bf1984{
	background-color: var(--sidebar) !important;
}
.scroller_c1e9c4.thin_d125d2.scrollerBase_d125d2{
	background-color: var(--sidebar);
}

.body__00943.inset_bf1984{
	background-color: transparent;
}

/* fuckass discovery button */
.gradient_f8ec41 {
			background-color: var(--sidebar);
}
.footer__214dc {
			background-color: var(--sidebar);
}
.container_a14595{
	background-color: var(--sidebar);
}

.container_a14595:hover{
	background-color: var(--sidebar);
}
.container_a14595 .defaultColor__4bd52{
	color: white !important;
	background-color: var(--sidebar);
}

/* folder inside */
.expandedFolderBackground__48112{
				background-color: var(--senseimessagebubble);
}
.expandedFolderIconWrapper__48112{
					background-color: var(--senseimessagebubble);
}

/* mentions/reply Color*/
.mentioned__5126c {
	  background-color: rgba(255, 147, 183, 0.5) !important;
}
.mentioned__5126c::before {
	  background-color: rgba(255, 147, 183, 0.8) !important;
}

/* group names that were white for some reason??? */
.channelName__754bd div, .channelName__754bd input {
	  color: var(--username) !important;
}


.container_a2f514.fixClipping_efbae7{
	background-color: var(--momotalkbanner);
}


/* funky loading screen */
.container_a2f514.fixClipping_efbae7::after{

	position: absolute;
	content: "";
	display: inline-block;
	width: 200px;
	height: 2000px;
	background-image: url('https://miyakukage.github.io/discord-momotalk/img/logobig.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.spinner_a2f514.ready_a2f514{
	display: none;
}

.text_a2f514 {
	margin-top: 300px;
}

/* Miyu Friends */
 
 
#add_friend-tab .image__33d12 {
  background-image: url('https://miyakukage.github.io/discord-momotalk/img/miyu.png') !important;
  background-size: cover !important;
  width: 450px !important;
  height: 300px !important;
}

#add_friend-tab .text__33d12 {
  color: transparent; /* Hide the original text */
  position: relative; /* Ensure pseudo-elements align properly */
}

#add_friend-tab .text__33d12::before {
  content: "Miyu is waiting on friends. You don't have to though!"; /* Replace with your desired text */
  color: var(--username);
  position: absolute;
  top: 0;
  left: 0;
}





/* NEW messages */
.newMessagesBar__0f481.barBase__0f481 {
background-color: var(--momotalkbanner) !important;
}

.divider__5126c.hasContent__5126c.divider__908e2.isUnread__908e2.hasContent__908e2 .content__908e2{
	margin-bottom: 18px !important;
	background-color: transparent;
}

.group-spacing-16.divider__5126c.beforeGroup__5126c,
.divider__5126c.divider__908e2.isUnread__908e2 {
   border-width: 20px;
   border-radius: 7px;
   border-color: #DDE6ED;
}

.group-spacing-16 .divider__5126c.beforeGroup__5126c::before,
.divider__5126c.divider__908e2.isUnread__908e2::before{
  content: "Read up to this point."; /* Replace with your desired text */
  color: var(--username);
  position: relative;
  top: -10px;
  left: 0;
}

.unreadPill__908e2.endCap__908e2 {
	display: none;
}


/* More color fixes, this is getting super messy */
.replyBar__841c8,
.stackedBars__74017{
	 background-color: var(--senseimessagebubble) !important;
}