/**
  * @name MomoTalk (Visual Refresh)
  * @author yumemiya - elatedcard - kyonakansou
  * @version 3.2
  * @description A theme based on the MomoTalk app from the Blue Archive Game!
  * @source https://github.com/MiyakuKage/discord-momotalk
*/






/* Change Colors Here!!!! */
:root {

	--momotalkbanner: #E56072;

	--senseimessagebubble: #4A8AC8;

	--messagebubble: #4C5B6F;

	--text-link: #A3BAFF;

	--sidebar: #505C72;	
	--sidebarborder : #3E4E6B;
	
	--channeltopbar: #505C72;
	
	--messagefontcolor: #FFFFFF;

	--username: #c4c4c4;
	--usernameoutline: #323339;

	--serverlist: #505C72;
	
	--newmessages: #DDE6ED;/* this is the read up to this point thingy*/

	--newtextcolor: #3F444A;
	
	--mention : rgba(255, 147, 183, 0.5); 
	--mentionbar : rgba(255, 147, 183, 0.8); 
	
	--hovericoncolor: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(106%) contrast(105%);

	/* Change Images Here !!!! */
	--bgcharacter: url('https://miyakukage.github.io/discord-momotalk/img/chara/none.apng'); /*HERE, You can change the character that appears in the background! Change "none.apng" by one of the characters listed in the GitHub README, or by your own image!*/
	--bgcharacterposition: bottom 50px right 1100px;
	--characterfriends: url('https://miyakukage.github.io/discord-momotalk/img/chara/none.apng'); 

	--bgimage: url('your image url here.png');

	--callimage: url('your image url here.png');



	/*FOR LIGHTMODE*/
	--momotalkbannerLIGHT: #FB90A4;

	--senseimessagebubbleLIGHT: #4A8AC8;

	--messagebubbleLIGHT: #4C5B6F;

	--text-linkLIGHT: #A3BAFF;

	--sidebarLIGHT: #F2F7F8;
	
	--sidebarborderLIGHT : #DFE2E1;
	
	--channeltopbarLIGHT: #E7F0F7;

	--messagefontcolorLIGHT: #FFFFFF;

	--usernameLIGHT: #373737;
	--usernameoutlineLIGHT: #FFFFFF;

	--serverlistLIGHT: #505C72;
	
	--newmessagesLIGHT: #DDE6ED;/* this is the read up to this point thingy*/

	--newtextcolorLIGHT: #3F444A;

	--hovericoncolorLIGHT:   ;
	

	/* Change Images Here !!!! */
	--bgcharacterLIGHT: url('https://miyakukage.github.io/discord-momotalk/img/chara/mari.apng'); /*HERE, You can change the character that appears in the background! Change "none.apng" by one of the characters listed in the GitHub README, or by your own image!*/
	--bgcharacterpositionLIGHT: bottom 50px right 1100px;
	--characterfriendsLIGHT: url('https://miyakukage.github.io/discord-momotalk/img/chara/arona.apng'); 
	
	--bgimageLIGHT: url('your image url here.png');

	--callimageLIGHT: url('your image url here.png');
}

