/**
  * @name MomoTalk
  * @author yumemiya
  * @version 1.0
  * @description A theme based on the MomoTalk app from the Blue Archive Game!
  * @source https://github.com/MiyakuKage/discord-momotalk
*/

@import url('https://miyakukage.github.io/discord-momotalk/MomotalkSource.theme.css');



/* Change Colors Here!!!! */
:root {
	--background-primary: #FFFFFF;

	--momotalkbanner: #FB90A4;

	--senseimessagebubble: #4A8AC8;
	--messagebubble: #4C5B6F;

	--text-link: #CCD3FF;

	--messagefontcolor: #FFFFFF;

	--username: #3F444A;

	--sidebar: #505C72;

	--topbar: #E7F0F7;

	--searchbars: #303C51;

	--callcolor: #505C72;

	--callbuttons: #303C51;
	--hangup: #FB90A4;

	--dmlist: #F2F7FB;

	--settingsfontcolor: #000000;
	
/* Change Images Here !!!! */
	
	--character: url('https://miyakukage.github.io/discord-momotalk/img/chara/mari.apng'); /* Change "none.apng" by a character name*/
	/* Check out the up to date character list on the GitHub README */ 

	--characterfriends: url('https://miyakukage.github.io/discord-momotalk/img/chara/arona.apng'); /* Same here but for the friend list*/
	
	--bgimage: url('your image url here.png');

	--callimage: url('your image url here.png');
}

